#calculator input[type='button']{
    height: 95%;
    width: 100%;
    background-color:gray;
    color:black;
}
#calculator{
    margin-top: 10%;
    width: 25%;
    height: 500px;
    text-align: center;
}
#screen{
    width: 98%;
    height: 100%;
    font-size: x-large;
}
.size{
    font-weight: bolder;
    font-size: xx-large;
}
#signs{
    width: 25%;
}